Binaries
DerivedDataCache
Intermediate
Saved
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/StarterContent
Content/LandscapeAutoMaterial/Maps
Content/land
Content/SpaceBox_Dim
Content/UltraDynamicSky/Maps